<img [src]="data.image_url" alt="image placeholder" class="image-banner">
<div class="container">
  <mat-card>
    <div class="custom-mat-header">
      <mat-card-title class="title-text">{{data.title}}</mat-card-title>
    </div>
    <mat-card-content>
      <p>{{data.summary}}</p>
      <p>{{dummyText | slice:0:417}}.</p>
      <p>{{dummyText | slice:0:596}}.</p>
      <p>{{dummyText | slice:0:398}}.</p>
      <p>{{dummyText | slice:0:700}}.</p>
      <p>{{dummyText | slice:0:398}}.</p>
    </mat-card-content>
  </mat-card>
</div>
<button mat-button mat-dialog-close class="dialog-button custom-close-button"><mat-icon>arrow_back</mat-icon>Back to homepage</button>


